.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
    rgba(var(--bg-gradient-home), 0.53) 0%,
    rgba(var(--bg-gradient-home), 0) 2000%);

  // 自定义首页背景图
  &::before {
    background-size: cover;
    // 默认是暗色模式的背景
    background-image: url(/bg.webp);
  }
}

// 亮色模式下切换背景
html:not(.dark) .VPHome::before {
  background-image: url(/bgw.jpg);
}